@model HospitalCase.Models.PatientModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PatientModel</h4>
<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="PatientId" />

    <div class="form-group">
        <label asp-for="PatientName" class="control-label"></label>
        <input asp-for="PatientName" class="form-control" />
        <span asp-validation-for="PatientName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientAddress" class="control-label"></label>
        <input asp-for="PatientAddress" class="form-control" />
        <span asp-validation-for="PatientAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientTelephone" class="control-label"></label>
        <input asp-for="PatientTelephone" class="form-control" />
        <span asp-validation-for="PatientTelephone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientDocument" class="control-label"></label>
        <input asp-for="PatientDocument" class="form-control" />
        <span asp-validation-for="PatientDocument" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientDateBirth" class="control-label"></label>
        <input asp-for="PatientDateBirth" class="form-control" type="date"/>
        <span asp-validation-for="PatientDateBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>